ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.post-item {
  margin: 1rem 0;
  background: #102e5e;
  padding: 2rem 2rem 1.5rem;
  color: white;
  border-radius: 4px;
  position: relative;
}

.post-summary {
  display: flex;
  align-items: flex-start;
}

.post-image {
  margin-right: 2rem;
}

.post-image a {
}

.post-image img {
  width: 16rem;
  object-fit: cover;
}

.post-item .header-user-info {
  position: absolute;
  top: 1rem;
  right: 2rem;
  color: rgb(167 185 210);
  font-size: 0.9rem;
}

.post-item .header-user-info .user-name,
.post-item .header-user-info .email,
.post-item .header-user-info .date-time {
  display: inline-block;
  font-style: normal;
}

.post-item .header-user-info a {
  color: inherit;
  text-decoration: none;
}

.post-item .header-user-info .user-name,
.post-item .header-user-info .email {
  margin-right: 1rem;
}

.post-item .header-user-info .email:empty {
  display: none;
}

.post-details {
  padding-right: 0.5rem;
}

.post-details h3 {
  color: inherit;
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-size: 2rem;
}

.post-details article {
  text-align: justify;
}

.post-actions {
  margin-top: 1.5rem;
  text-align: right;
}

.post-actions .comments {
  /* color: rgb(196, 189, 172); */
  display: inline-block;
  margin-right: 2rem;
}

.post-actions .link {
  color: rgb(167 185 210);
  text-decoration: none;
}

.post-actions .link:hover {
  color: #85a9ff;
}

.post-actions .btn {
  background-color: #96ebff;
  border-color: #96ebff;
  color: #102e5e;
}

.post-actions .btn:hover {
  background-color: #85a9ff;
  border-color: #85a9ff;
}
