{% load static %}
<li class="post-item">
  <div class="header-user-info">
    <span class="user-name">{{ post_item.user_name }}</span>
    {% if post_item.author_email %}
      <address class="email">
        <a href="mailto:{{ post_item.author_email }}">
          {% if post_item.user_name and post_item.author_email %}
            (<span class="link">{{ post_item.author_email }}</span>)
          {% else %}
            <span class="link">{{ post_item.author_email }}</span>
          {% endif %}
        </a>
      </address>
    {% endif %}
    <div class="date-time">{{ post_item.date_time }}</div>
  </div>
  <article>
    <div class="post-summary">
      <div class="post-image">
        <a href="{{ post_item.image.url }}" target="_blank"><img src="{{ post_item.image.url }}" alt="{{ post_item.title }}"></a>
      </div>
      <div class="post-details">
        <h3>{{ post_item.title }}</h3>
        <article>{{ post_item.content|linebreaks }}</article>
      </div>
    </div>
    <div class="post-actions">
      <div class="comments">
      <a href="{% url 'post-thread' post_item.slug %}#comments" class="link">
        <span>Comments: {{ post_item.comment_set.all.count }}</span>
      </a>
      </div>
      <a href="{% url 'post-thread' post_item.slug %}#original-post" class="btn">Reply</a>
    </div>
  </article>
</li>
