

section#new-post {
  margin: auto;
  width: 32rem;
  padding: 0.5rem;
  background: rgb(192, 205, 255);
  border-radius: 3px;
  overflow: auto;
  box-shadow: 0px 0px 4px rgb(26, 3, 55);
}


#new-post form li {
  /* display: flex; */
  line-height: 2.5rem;

  width: inherit;
  min-height: inherit;
  padding: 0;
  margin: 0;
  border: none;
  background: inherit;
  color: black;
}

#new-post li:last-of-type {
  /* display: inline-block; */
  /* margin-top: 0.5rem; */
}

#new-post label {
  font-weight: bold;
  color: #2a2a2a;
  margin-right: 0.5rem;
  display: inline-block;
  padding-left: 0.5rem;
}

#new-post input:not(#id_image),
#new-post textarea {
  vertical-align: middle;
  display: inline-block;
  font: inherit;
  width: 26rem;
  background-color: #ebeaee;
  border: 1px solid #4b4753;
  border-radius: 4px;
  padding: 0.5rem;
  height: 2.2rem;
}

#new-post input#id_image {
  /* display: inline-block; */
  font: inherit;
  /* margin-right: 0.5rem; */
  max-width: 22rem;
}

#new-post input:not(#id_image) {
  float:right;
  margin: auto 0;
  margin-left: auto;
}

#new-post input:focus,
#new-post textarea:focus {
  outline: 1px solid rgb(130, 76, 228);
}

#new-post textarea {
  width: 100%;
  resize: none;
  height: 12rem;
  /* margin-top: 0.22rem; */
  line-height: 1rem;
}

#new-post-actions {
  float: right;
  display: inline-block;
  /* margin-right: 0.5rem; */
}

#new-post .errorlist {
  margin-bottom: 0.5rem;
  color: #880824;
}

#new-post .errorlist li {
  display: block;
}

#new-post button {
  width: 8rem;
}
